#navbar {
    flex-direction: column;
}

.signup-box {
    width: 325px;
    height: 380px;
    grid-template-rows: repeat(7,50px);
    grid-template-columns: repeat(2,1fr);
    row-gap: 5px;
    column-gap: 5px;
}
#item1 {
    height: 33px;
    justify-self: center;
    margin: 10px;
    color: #799e4a;
}

.signup-box label {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.1rem;

}
.signup-box input {
    width: 145px;
    height: 30px;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 1.1rem;
    margin-top: 5px;
}
#btn1 {
    height: 30px;
    width: 80px;
    font-size: 1.1rem;
}
footer{
    margin-top: 0px;
}